@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <style>
        h1 {
            color: red;
        }
    </style>
</head>
<body>
    <div>
        <h1>This is Home Page</h1>
        <h3>Hello every body in class 12DHTH</h3>
        <a href="/Bai1/About">About-></a>
    </div>
</body>
</html>
