@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--butrap-->
    <!-- ICON-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="@Url.Content("~/Content/style_layout.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <section class="product-small" id="product-small">
        <div class="product-container-small">
            <div class="box">
                <a href="chitiet.html"><img src="/Content/images/h1.jpg" alt=""></a>
                <h3>Hoa 1</h3>
                <div class="content">
                    <span>20.000đ</span>               
                </div>
                <div class="content">
                    <a href="">Mua</a>
                </div>
            </div>
            <div class="box">
                <a href="chitiet.html"><img src="/Content/images/h2.jpg" alt=""></a>

                <h3>Hoa 2</h3>
                <div class="content">
                    <span>10.000đ</span>
                </div>
                <div class="content">
                    <a href="">Mua</a>
                </div>
            </div>
            <div class="box">
                <a href="chitiet.html"><img src="/Content/images/h3.jpg" alt=""></a>

                <h3>Hoa 3</h3>
                <div class="content">
                    <span>50.000đ</span>
                </div>
                <div class="content">
                    <a href="">Mua</a>
                </div>
            </div>
            <div class="box">
                <a href="chitiet.html"><img src="/Content/images/h4.jpg" alt=""></a>

                <h3>Hoa 4</h3>
                <div class="content">
                    <span>30.000đ</span>
                </div>
                <div class="content">
                    <a href="">Mua</a>
                </div>
            </div>
            <div class="box">
                <a href=""><img src="/Content/images/h5.jpg" alt=""></a>

                <h3>Hoa 5</h3>
                <div class="content">
                    <span>15.000đ</span>
                </div>
                <div class="content">
                    <a href="">Mua</a>
                </div>
            </div>
            <div class="box">
                <a href="chitiet.html"><img src="/Content/images/h6.jpg" alt=""></a>

                <h3>Hoa 6 </h3>
                <div class="content">
                    <span>10.000đ</span>
                </div>
                <div class="content">
                    <a href="">Mua</a>
                </div>
            </div>
 
        </div>
    </section>
</body>

</html>
